@import "tailwindcss";
@tailwind utilities;
@custom-variant dark (&:is(.dark *));

.swiper-buttons-div {
    z-index: 100;
    left: -30%;
    bottom: 5%;
    background-color: var(--secondary);
    width: 200px;
    height: 130px;
    position: absolute;
    @apply max-md:hidden flex justify-center gap-3 items-center
}

.swiper-buttons button {
    @apply flex items-center justify-center size-11 rounded-full border border-white
}

.hero-swiper .swiper-slide {
    opacity: 0;
    transition: opacity 1s ease, transform 0.4s ease;
}

.hero-swiper .swiper-slide-active {
    opacity: 1;
}